
{margin:0;padding:0;}
body{
  color:black;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color:#4F4F4F;

}



.container{

}


.div_img{

   width:100px;
   height:100px;


}
.div_img > img {
   width:100%;
}

a{

     color: yellow;


}

.div-menu{
   display:flex;
   object-fit: cover;
   border:solid 1px red;

}

.fcc-btn{
     background-color: #1C1C1C;
     color: white;
     padding: 15px 25px;
     text-decoration: none;
     border-radius:8px;
}






