


body{

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background-color:blue;

}

.div{
    width:100%;
}
img {
   width: 100px;
   height:100px;
}




